html{
  background: url("https://tascaeltapon.es/assets/img/fondo_mvl.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (min-width: 576px) {
  .body {

  }
}

@media (min-width: 992px) {
  .body {

  }
}

@media (min-width: 1200px) {
  .html{
    background: url("https://tascaeltapon.es/assets/img/fondo_pc.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}