@font-face {
  font-family: Verlag;
  src: url('../fonts/thirstyscriptextrabolddemo.otf');
}

h3 {
  font-family: Verlag;
  font-size: 500%;
}

.row {
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
  align-items:center;
  justify-content:center;
  width: 100%;
}

/***************/
/*    LOGO     */
/***************/

.logo {
  padding-top: 1%;
  background: #E0D2C5;
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 20%;
}

/***************/
/*    CARTA    */
/***************/

.carta {
  /*padding-left: 5%;
  padding-right: 5%;*/
  margin: auto;
}

.carta img {
  width: 95%;
}

.carta_sec {
  padding-top: 1%;
  background-color: #641C20;
  color: white;
}

/***************/
/*  CONTACTO   */
/***************/

.icono img{
  width: 60%;
}

.texto {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 200%;
}

.datos a {
  text-decoration: none; 
  color: black;
}

/*****************************/
/*   SEPARADOR - TRIANGULO   */
/*****************************/

.sep12 {
  transform: translateY(-100%) translateY(2px) scale(1,1);
  transform-origin: top;
}

.row_2{
  top: -1.5px;
  width:100%;
  padding:0;
  margin:0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position:relative;
}

.svg-separator{
  display: block;
  background: 0 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9;
  -webkit-transform: translateY(-100%) translateY(2px);
  transform: translateY(-100%) translateY(2px);
  width: 100%;
}

.svg-separator.bottom{
  top: auto;
  bottom: 0;
}

/*****************************/
/*     SEPARADOR - CURVA     */
/*****************************/

.white {
  background-color: white;
}

section {
  height: auto;
  min-height: 15vh;
  position: relative;
}

.separator {
  position: absolute;
  top: -1px;
}

.separator-bottom {
  position: absolute;
  bottom: 0;
}

/***************/
/*  IR ARRIBA  */
/***************/

.ir-arriba {
  display:none;
  position: fixed;
  padding: 10px 16.25px 10px 16.25px;
  background:black;
  font-size:20px;
  color:#fff;
  cursor:pointer;
  /*bottom: 120px;
  right: 35px;*/
  bottom: 20px;
  right:20px;
  border-radius: 15%;
  box-shadow: 0px 1px 4px rgba(0,0,0,.4);
  width: 60px;
  height: 60px;
}

.ir-arriba img {
  width: 100%; 
}

/**************/
/*  WHATSAPP  */
/**************/

.whatsapp {
  position: fixed;
  bottom: 20px;
  right:20px;
  background-color: transparent;
}

.whatsapp img {
  width: 80px;
  background-color: transparent;
}

/**************/
/*   FOOTER   */
/**************/

footer {
  margin-top: 10vh;
  background-color: #651D20;
  color: white;
  text-align: center;
  height: 50px;
  text-align: center;
  padding: 10px;
  font-size: small;
}

footer span {
  color: #E0D2C5;
}

label {
  font-family: 'Roboto', sans-serif;
}

/***************/
/*  RESPONSIVE */
/***************/

@media only screen and (max-width: 480px) {
  .logo {
    height: 40vh;
  }

  .logo img {
    width: 50%;
  }

  iframe {
    width: 90vw;
    height: 35vh;
    padding: 1%;
  } 

  .ir-arriba {
    padding: 4px 10.25px 4px 10.25px;
    /*right: 24px;
    bottom: 80px;*/
    bottom: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
  }

  .whatsapp {
    bottom: 15px;
    right: 15px;
  }
  
  .whatsapp img {
    width: 55px;
  }

  h3 {
    font-size: 250%;
  }

  .carta img {
    width: 100%;
  }

  .datos {
    padding-top: 10%;
  }

  footer {
    margin-top: 5vh;
  }
  
  .texto {
    font-size: 170%;
  }

}