@font-face {
  font-family: Verlag;
  src: url('../fonts/thirstyscriptextrabolddemo.otf');
}

/*html {
  background: url("../img/fondo_mvl_2.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 200%;
  font-family: Verlag;
  width: 100%;
  height: 100%;
}*/

/*@media (min-width: 1200px) {*/

  h3 {
    font-family: Verlag;
    font-size: 500%;
  }

  .row {
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    align-items:center;
    justify-content:center;
  }

  /***************/
  /*    LOGO     */
  /***************/

  .logo {
    padding-top: 1%;
    background: #E0D2C5;
    height: 70vh;
  }

  .logo img {
    width: 20%;
  }

  /***************/
  /*    CARTA    */
  /***************/

  .carta {
    padding-left: 5%;
    padding-right: 5%;
  }

  .carta_sec {
    padding-top: 5%;
    background-color: #651D20;
    color: white;
  }

  /***************/
  /*  CONTACTO   */
  /***************/

  .icono img{
    width: 60%;
  }

  .texto {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 200%;
  }

  /*****************************/
  /*   SEPARADOR - TRIANGULO   */
  /*****************************/

  .triangle {
    position: relative;
    background: #E0D2C5;
    height: 1vh;
  }

  .triangle::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 100px 0 100px;
    border-color: #E0D2C5 transparent transparent transparent;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
  }

  /*****************************/
  /*     SEPARADOR - CURVA     */
  /*****************************/

  .curved {
    position: relative;
    background: #651D20;
    height: 20vh;
  }

  .curved::after {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    height: 28%;
  }

  /***************/
  /*  IR ARRIBA  */
  /***************/

  .ir-arriba {
    display:none;
    position: fixed;
    padding: 10px 16.25px 10px 16.25px;
    background:black;
    font-size:20px;
    color:#fff;
    cursor:pointer;
    bottom: 120px;
    right: 35px;
    border-radius: 15%;
    box-shadow: 0px 1px 4px rgba(0,0,0,.4);
    width: 60px;
    height: 60px;
  }

  .ir-arriba img {
    width: 100%; 
    /*height: 100%; */
    /*object-fit: cover;*/
  }

  /**************/
  /*  WHATSAPP  */
  /**************/

  .whatsapp {
    position: fixed;
    bottom: 20px;
    right:20px;
    background-color: transparent;
  }

  .whatsapp img {
    width: 80px;
    background-color: transparent;
  }

  /**************/
  /*   FOOTER   */
  /**************/

  footer {
    margin-top: 10%;
    background-color: #651D20;
    color: white;
    text-align: center;
    height: 50px;
    text-align: center;
    padding: 10px;
    font-size: small;
  }

  footer span {
    color: #E0D2C5;
  }

  label {
    font-family: 'Roboto', sans-serif;
  }
/*}*/